/.nyc_output
dist
build
node_modules
/coverage
*.tgz
/components/assistive-playwright-server/src/validation.js
/components/assistive-webdriver/src/server/config.ts
/components/assistive-webdriver/config-schema.json
/components/vm-providers/src/config.ts
/doc/apidoc-output
test-reports

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored (not using Zero-Installs):
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
